.root{
    -fx-background-color: rgba(255, 255, 255,0.25);
    -fx-background-radius: 28;
    -fx-border-color: rgba(255, 255,255, 0.4);
    -fx-border-radius: 28;
}
.scroll-pane{
    -fx-background-color: transparent;
    -fx-background: transparent;
    -fx-border-color: transparent;
}
.button{
    -fx-text-fill:#3a2702;
    -fx-font-size: 14;
    -fx-background-color: #FBF5DD;
    -fx-border-color: rgba(0, 0, 0, .1);
    -fx-font-weight: bold;
    -fx-background-radius: 28;
}
.button:hover{
    -fx-background-color: rgba(251, 245, 221, 0.8);
}
.button:pressed:hover{
    -fx-background-color: rgba(163, 159, 143, 0.8);
}
#exitBtn{
    -fx-opacity: 0.8;
}
#exitBtn:hover{
    -fx-opacity: 1;
    -fx-scale-x:1.05;
    -fx-scale-y:1.05;
}
#homeImageView{
    -fx-opacity: 0.8;
}
#homeImageView:hover {
    -fx-opacity: 1;
    -fx-scale-x: 1.05;
}
.text-field{
    -fx-text-fill:#3a2702;
    -fx-font-size: 14;
    -fx-background-color: #FBF5DD;
    -fx-border-color: rgba(0, 0, 0, .1);
    -fx-font-weight: bold;
    -fx-background-radius: 28;
}

