.root{
    -fx-background-color: rgba(255, 255, 255,0.25);
    -fx-background-radius: 28;
    -fx-border-color: rgba(255, 255,255, 0.4);
    -fx-border-radius: 28;
}
.label{
    -fx-font: bold 20pt Arial;
    -fx-text-fill: #08181c;
    -fx-opacity: 1;
}
#connectBtn{
    -fx-background-color: #A6CDC6;
    -fx-text-fill: #16404D;
    -fx-font-weight: bold;
    -fx-background-radius: 28;
    -fx-opacity: 0.95;
}
#connectBtn:hover{
    -fx-opacity: 1;
    -fx-scale-x:1.05;
    -fx-scale-y:1.05;
}
#connectBtn:pressed:hover{
    -fx-background-color:#5a8386;
}

.text-field{
    -fx-text-fill: rgba(0, 0, 0, .9);
    -fx-prompt-text-fill: rgba(0, 0, 0, .85);
    -fx-background-color: rgba(251, 245, 221,0.9);
    -fx-border-radius: 28;
    -fx-border-color: rgba(0, 0, 0, .1);
    -fx-font-weight: bold;
    -fx-background-radius: 28;
}
.text-field:hover{
    -fx-background-color: rgba(251, 245, 221,1);
    -fx-text-fill: rgba(0, 0, 0, 1);
    -fx-prompt-text-fill: rgba(0, 0, 0, .9);
    -fx-scale-x:1.05;
    -fx-scale-y:1.05;
}
.text-field:focused{
    -fx-background-color: rgba(251, 245, 221,1);
    -fx-text-fill: rgba(0, 0, 0, 1);
    -fx-prompt-text-fill: rgba(251, 245, 221,1);;
    -fx-scale-x:1.05;
    -fx-scale-y:1.05;
}

#exitBtn{
    -fx-opacity: 0.8;
}
#exitBtn:hover{
    -fx-opacity: 1;
    -fx-scale-x:1.05;
    -fx-scale-y:1.05;
}

#contactBtn{
    -fx-opacity: 0.8;
}
#contactBtn:hover{
    -fx-opacity: 1;
    -fx-scale-x:1.05;
    -fx-scale-y:1.05;
}
#username{
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}
#username:hover{
    -fx-scale-x:1.05;
    -fx-scale-y:1.05;
}

