.root{
    -fx-background-color: rgba(255, 255, 255,0.25);
    -fx-background-radius: 28;
    -fx-border-color: rgba(255, 255,255, 0.2);
    -fx-border-radius: 28;
}
.label{
    -fx-text-fill: rgba(0, 0, 0, .75);
    -fx-font-weight: bold;
    -fx-line-height: 1.5;
    -fx-font-size: 25;
}
.button{
    -fx-text-fill: rgba(0, 0, 0, .75);
    -fx-font-weight: bold;
    -fx-background-radius: 28;

}
.button:hover{
    -fx-text-fill: rgba(0, 0, 0, 1);
    -fx-scale-x:1.05;
    -fx-scale-y:1.05;
}
.text-field{
    -fx-text-fill: rgba(0, 0, 0, .9);
    -fx-prompt-text-fill: rgba(0, 0, 0, .85);
    -fx-background-color: rgba(255, 255, 255, .8);
    -fx-border-radius: 28;
    -fx-border-color: rgba(0, 0, 0, .1);
    -fx-font-weight: bold;
    -fx-background-radius: 28;
    -fx-transition: opacity 0.5s;
}
.text-field:hover{
    -fx-background-color: rgba(255, 255, 255, 1) ;
    -fx-text-fill: rgba(0, 0, 0, 1);
    -fx-prompt-text-fill: rgba(0, 0, 0, .9);
    -fx-scale-x:1.05;
    -fx-scale-y:1.05;
}
.text-field:focused{
    -fx-background-color: rgba(255, 255, 255, 1) ;
    -fx-text-fill: rgba(0, 0, 0, 1);
    -fx-prompt-text-fill: white;
    -fx-scale-x:1.05;
    -fx-scale-y:1.05;
}
.rectangle{
    -fx-background-radius: 100;
}
